.container{
    background-color: antiquewhite;
    border: 2px,black,solid;
    padding: 10px;
    margin: 4px;
    display: flex;
}
.video{
    padding-right: 10px;
}
@media(max-width:600px){
    .container{
        display: block;
    }
    #toha{
        width: 100px;
    }
}